<ng-container>
  <div class="photos">
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile class="gallerytile">
        <a>
          <img class="gallerypic" src="../assets/images/pic10.jpg" />
        </a>
      </mat-grid-tile>

      <mat-grid-tile class="gallerytile"
        ><a> <img class="gallerypic" src="../assets/images/pic9.jpg" /> </a
      ></mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic3.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic4.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic1.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic12.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic11.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic2.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic5.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic6.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic7.jpg" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile class="gallerytile"
        ><a>
          <img class="gallerypic" src="../assets/images/pic8.jpg" />
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-container>
