.aboutgdol {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 34vw;
  top: 8vw;
  font-size: 2vw;
  font-family: fantasy;
  font-weight: 400;
  color: rgb(52, 37, 37);
}

.about {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15vw;
  top: 15vw;
  padding-right: 13vw;
  font-size: 1vw;
  color: white;
  word-spacing: 0.5vw;
  line-height: 1.2vw;
}
