<ng-container>
  <div class="middle">
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile class="tile">
        <a
          href="https://lt.wikipedia.org/wiki/Vytautas_Didysis"
          target="_blank"
        >
          <img class="dukepic" src="../assets/images/Vytautas.jpg" />
        </a>
        <span class="duketext"
          >Vytauas The Great. In modern Lithuania, Vytautas is revered as a
          national hero and was an important figure in the national rebirth in
          the 19th century. Vytautas is a popular male given name in Lithuania.
          In commemoration of the 500-year anniversary of his death, Vytautas
          Magnus University was named after him. Monuments in his honour were
          built in many towns in the independent Lithuania during the interwar
          period from 1918 to 1939. It is known that Vytautas himself knew and
          spoke in the Lithuanian language with Jogaila.
        </span>
      </mat-grid-tile>
      <mat-grid-tile class="tile">
        <a href="https://en.wikipedia.org/wiki/Gediminas" target="_blank">
          <img class="dukepic" src="../assets/images/Gediminas.jpg" />
        </a>
        <span class="duketext"
          >Gediminas. He is credited with founding this political entity and
          expanding its territory which later spanned the area ranging from the
          Baltic Sea to the Black Sea. Also seen as one of the most significant
          individuals in early Lithuanian history, he was responsible for both
          building Vilnius, the capital of Lithuania, and establishing a dynasty
          that later came to rule other European countries such as Poland,
          Hungary and Bohemia.</span
        >
      </mat-grid-tile>

      <mat-grid-tile class="tile">
        <a
          href="https://en.wikipedia.org/wiki/Władysław_II_Jagiełło"
          target="_blank"
        >
          <img class="dukepic" src="../assets/images/Jogaila.jpg"
        /></a>
        <span class="duketext"
          >Jogaila. Born a pagan, he converted to Catholicism in 1386 and was
          baptized in Kraków, was crowned king of Poland. In 1387, he converted
          Lithuania to Christianity.He laid the foundation for the
          centuries-long Polish–Lithuanian union. He was a member of the
          Jagiellonian dynasty in Poland that bears his name and was previously
          also known as the Gediminid dynasty in the Grand Duchy of Lithuania.
          The dynasty ruled both states until 1572, and became one of the most
          influential dynasties in late medieval and early modern Europe. During
          his reign, the Polish-Lithuanian state was the largest state in the
          Christian world.</span
        >
      </mat-grid-tile>
      <mat-grid-tile class="tile">
        <a href="https://en.wikipedia.org/wiki/Kęstutis" target="_blank">
          <img class="dukepic" src="../assets/images/Kestutis.jpg"
        /></a>
        <span class="duketext"
          >Kestutis. He was the Duke of Trakai and governed the Grand Duchy of
          Lithuania, 1342–1382, together with his brother Algirdas (until 1377),
          and with his nephew Jogaila (until 1381). He ruled over the
          Lithuanians and Ruthenians.</span
        >
      </mat-grid-tile>
      <mat-grid-tile class="tile">
        <a
          href="https://lt.wikipedia.org/wiki/Žygimantas_Augustas"
          target="_blank"
        >
          <img class="dukepic" src="../assets/images/Zygimantas.jpg"
        /></a>
        <span class="duketext"
          >Žygimantas Augustas; 1 August 1520 – 7 July 1572) was King of Poland
          and Grand Duke of Lithuania, the son of Sigismund I the Old, whom
          Sigismund II succeeded in 1548. He was the first ruler of the
          Polish–Lithuanian Commonwealth and the last male monarch from the
          Jagiellonian dynasty.</span
        >
      </mat-grid-tile>
      <mat-grid-tile class="tile">
        <a href="https://en.wikipedia.org/wiki/Algirdas" target="_blank">
          <img class="dukepic" src="../assets/images/Algirdas.jpg"
        /></a>
        <span class="duketext"
          >Algirdas. Grand Duke of Lithuania. He ruled the Lithuanians and
          Ruthenians from 1345 to 1377. With the help of his brother Kęstutis
          (who defended the western border of the Duchy) he created an empire
          stretching from the present Baltic states to the Black Sea and to
          within 80 kilometres (50 miles) of Moscow.</span
        >
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-container>

<div class="left">
  <mat-grid-list cols="1" rowHeight="28rem">
    <mat-grid-tile>
      <div class="left-array">
        <a href="https://en.wikipedia.org/wiki/Rzeczpospolita" target="_blank">
          <button class="left-buttons" mat-raised-button color="warn">
            Rzeczpospolita
          </button>
        </a>
        <a
          href="https://en.wikipedia.org/wiki/Battle_of_Grunwald"
          target="_blank"
        >
          <button class="left-buttons" mat-raised-button color="warn">
            Battle of Grundwald
          </button>
        </a>
        <a
          href="https://en.wikipedia.org/wiki/Battle_of_Strėva"
          target="_blank"
        >
          <button class="left-buttons" mat-raised-button color="warn">
            Battle of Streva
          </button>
        </a>
        <a href="https://en.wikipedia.org/wiki/Battle_of_Saule" target="_blank">
          <button class="left-buttons" mat-raised-button color="warn">
            Battle of Saule
          </button>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="right">
  <mat-grid-list cols="1" rowHeight="28rem">
    <mat-grid-tile>
      <div class="right-array">
        <a
          href="https://en.wikipedia.org/wiki/Lithuanian_raid_on_Poland"
          target="_blank"
        >
          <button class="right-buttons" mat-raised-button color="warn">
            Lithuanian raid on Poland
          </button>
        </a>
        <a href="https://en.wikipedia.org/wiki/Battle_of_Ula" target="_blank">
          <button class="right-buttons" mat-raised-button color="warn">
            Battle of Ula
          </button>
        </a>
        <a href="https://en.wikipedia.org/wiki/Battle_of_Durbe" target="_blank">
          <button class="right-buttons" mat-raised-button color="warn">
            Battle of Durbe
          </button>
        </a>
        <a href="https://en.wikipedia.org/wiki/Battle_of_Varna" target="_blank">
          <button class="right-buttons" mat-raised-button color="warn">
            Battle of Varna
          </button>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
